@import "tailwindcss";

:root {
  --background: var(--color-mist-200);
  --modal: var(--color-mist-50);
  --shadow: var(--color-mist-400);
  --foreground: var(--color-mist-900);
  --primary: var(--color-mist-800);
  --secondary: var(--color-mist-700);
  --accent-one: var(--color-black);
  --accent-two: var(--color-lime-800);
  --accent-three: var(--color-lime-600);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fancy: var(--font-fancy);

  --color-shadow: var(--shadow);
  --color-modal: var(--modal);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent-one: var(--accent-one);
  --color-accent-two: var(--accent-two);
  --color-accent-three: var(--accent-three);
}

@media (prefers-color-scheme: dark) {
  :root {

    --background: var(--color-mist-900);
    --modal: var(--color-mist-900);
    --shadow: var(--color-mist-950);
    --foreground: var(--color-mist-200);
    --primary: var(--color-stone-200);
    --secondary: var(--color-stone-300);
    --accent-one: var(--color-white);
    --accent-two: var(--color-green-600);
    --accent-three: var(--color-lime-600);
  }
}

/* .static {
  background-image: url("../public/static.png");
  position: absolute;
  inset: 0;
  z-index: 500;
  pointer-events: none;
  filter: opacity(7%);
  mix-blend-mode: lighten;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* For Firefox */
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-three) color-mix(in oklab, var(--secondary) 20%, transparent);
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: color-mix(in oklab, var(--secondary) 20%, transparent);
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--accent-three);
  border-radius: 10px;
}

.image-loader {
  animation: load 1.5s ease-in-out infinite;
}

@keyframes load {
  0%, 100% {
    background: color-mix(in oklab, var(--secondary) 20%, transparent)
  }
  50% {
    background: color-mix(in oklab, var(--secondary) 10%, transparent)
  }
}

.shake-onmount {
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {
  0%   { transform: translateX(0); }
  20%  { transform: translateX(-4px); }
  40%  { transform: translateX(4px); }
  60%  { transform: translateX(-3px); }
  80%  { transform: translateX(3px); }
  100% { transform: translateX(0); }
}